<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frogsquare.playcorelibrary">


    <application>

        <meta-data
            android:name="org.godotengine.plugin.v1.GDPlayCoreLibrary"
            android:value="com.frogsquare.playcorelibrary.GDPlayCoreLibrary" />

    </application>
</manifest>